<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title></title>
</head>
<body>

   <h1>ngan hang co lai suat tien gui thap nhat theo tung moc thoi gian </h1>

    <select id="box">
        <option value="alo" selected> chọn thời gian ở đây</option>
        <option value="{{below_one_month}}"> 
            <a href = "{% url 'lowest' below_one_month %}"> Dưới 1 tháng </a>
        </option>
        <option value="1 month">1 tháng</option>
        <option value="2 months">2 tháng</option>
        <option value="3 months">3 tháng</option>
        <option value="4 months">4 tháng</option>
        <option value="5 months">5 tháng</option>
        <option value="6 months">6 tháng</option>
        <option value="7 months">7 tháng</option>
        <option value="8 months">8 tháng</option>
        <option value="9 months">9 tháng</option>
        <option value="10 months">10 tháng</option>
        <option value="11 months">11 tháng</option>
        <option value="12 months">12 tháng</option>
        <option value="24 months">24 tháng</option>
        <option value="36 months">36 tháng</option>
    </select>
    <script>
        document.getElementById("box").addEventListener("change", function() {
        const selectedOption = this.value;
        if (selectedOption === "below_1_month") {
            window.location.href = "{% url 'below 1 month' %}";
        }
        if (selectedOption === "1 month") {
            window.location.href = "{% url '1 month' %}";
        };
        if (selectedOption === "2 months") {
            window.location.href = "{% url '2 months' %}";
        };
        if (selectedOption === "3 months") {
            window.location.href = "{% url '3 months' %}";
        };
        if (selectedOption === "4 months") {
            window.location.href = "{% url '4 months' %}";
        };
        if (selectedOption === "5 months") {
            window.location.href = "{% url '5 months' %}";
        };
        if (selectedOption === "6 months") {
            window.location.href = "{% url '6 months' %}";
        };
        if (selectedOption === "7 months") {
            window.location.href = "{% url '7 months' %}";
        };
        if (selectedOption === "8 months") {
            window.location.href = "{% url '8 months' %}";
        };
        if (selectedOption === "9 months") {
            window.location.href = "{% url '9 months' %}";
        };
        if (selectedOption === "10 months") {
            window.location.href = "{% url '10 months' %}";
        };
        if (selectedOption === "11 months") {
            window.location.href = "{% url '11 months' %}";
        };
        if (selectedOption === "12 months") {
            window.location.href = "{% url '12 months' %}";
        };
        if (selectedOption === "24 months") {
            window.location.href = "{% url '24 months' %}";
        };
        if (selectedOption === "36 months") {
            window.location.href = "{% url '36 months' %}";
        };
    })    
    </script>
    <h1>History Data</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>Result</th>
            <th>Period</th>
            <th>URL</th>
            <th>Date</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.user_id }}</td>
                <td>{{ item.result }}</td>
                <td>{{ item.period }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.date }}</td>
                <td> <a href = "{% url 'delete_history' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    
    </table>
</body>
</html>
