<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title></title>
</head>
<body>

   <h1>ngan hang co lai suat tien gui thap nhat theo tung moc thoi gian </h1>

    <select id="box">
        <option value="alo" selected> chọn thời gian ở đây</option>
        <option value="0">Dưới 1 tháng </option>
        <option value="1">1 tháng</option>
        <option value="2">2 tháng</option>
        <option value="3">3 tháng</option>
        <option value="4">4 tháng</option>
        <option value="5">5 tháng</option>
        <option value="6">6 tháng</option>
        <option value="7">7 tháng</option>
        <option value="8">8 tháng</option>
        <option value="9">9 tháng</option>
        <option value="10">10 tháng</option>
        <option value="11">11 tháng</option>
        <option value="12">12 tháng</option>
        <option value="13">24 tháng</option>
        <option value="14">36 tháng</option>
    </select>
    <script>
        
        document.getElementById("box").addEventListener("change", function() {
        const selectedOption = this.value;
        const intSelectedOption = parseInt(selectedOption, 10);
        const monthList = ["{% url 'below 1 month' %}", "{% url '1 month' %}}", "{% url '2 months' %}", "{% url '3 months' %}", "{% url '4 months' %}", "{% url '5 months' %}", 
        "{% url '6 months' %}", "{% url '7 months' %}", "{% url '8 months' %}", "{% url '9 months' %} ", "{% url '10 months' %}", "{% url '11 months' %}", "{% url '12 months' %}", "{% url '24 months' %}", " {% url '36 months' %}"];
        if (intSelectedOption !== -1) {
            const selectedURL = monthList[selectedOption];
            window.location.href = selectedURL;
        } else {
            alert('Please select a valid time period');
        }
        })
    </script>
    <p> toggle tracking history </p>

    <a href = "{% url 'redirectToggle'%}" >click here</a> 
    <h1>History Data</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Result</th>
            <th>Period</th>
            <th>URL</th>
            <th>Date</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.user }}</td>
                <td>{{ item.result }}</td>
                <td>{{ item.period }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.date }}</td>
                <td> <a href = "{% url 'delete_history' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
