<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title></title>
</head>
<body>

   <h1>ngan hang co lai suat tien gui thap nhat theo tung moc thoi gian </h1>

    <select id="box">
        <option value="alo" selected> chọn thời gian ở đây</option> 
        {% for i in month %}
        <option value = "{{ i }}"> {{ i }} tháng </option>
        {% endfor %}
    </select>
    <br>
    <div id="result">Kết quả
        <!-- Nội dung kết quả sẽ được hiển thị ở đây -->
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        
    // Thực hiện tất cả mã JavaScript sau đây khi trang đã hoàn thành tải

        document.getElementById("box").addEventListener("change", function() {
            const csrfToken = "{{ csrf_token }}";
            const selectedOption = this.value;
            const resultElement = document.getElementById('result');
            
            fetch('/Home/lowest/' + selectedOption + '/', {
                method: 'POST',
                headers: { 'X-CSRFToken': csrfToken, 
                          'Content-Type': 'application/json',},
                body: parseInt(selectedOption,10),
                
            })
            .then(response => response.text())
            .then(data => {
                resultElement.innerHTML = JSON.stringify(data); 
                // Đổi response thành data để truy cập dữ liệu từ fetch
            })
        });
        });

    </script>

    <p> Bật/Tắt ghi lịch sử </p>

    <a href = "{% url 'redirectToggle'%}" >ấn để thay đổi</a> 
    <h1>History Data</h1>
    <table>
        <tr>
            <th>Người dùng</th>
            <th>Kết quả</th>
            <th>Thời gian</th>
            <th>URL</th>
            <th>Ngày tìm kiếm</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.user }}</td>
                <td>{{ item.result }}</td>
                <td>{{ item.period }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.date }}</td>
                <td> <a href = "{% url 'delete_history' item.id %}">Xoá</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
